<html>
    <head>
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <link rel="stylesheet" href="css/home.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body>
        <div id="body">
        <p id="heading">TODO APP</p>

    <!-- creating the form     -->
        <form action="/create" method="POST">
      <div class="data">
          <label>Description</label>
          <input type="text" name="description" placeholder="what is to be done?" required>
      </div>
      <div id="wrap">
            <div class="data">
                <label>Catagory</label>
                                <select name = "category" required>
                                    <option value = "home">Home</option>
                                    <option value = "work">Work</option>
                                    <option value = "school">School</option>
                                    <option value = "other">Other</option>
                                </select>
            </div>
            <div class="data">
                <label>Due Date</label>
                <input type="date" name="date" placeholder="Select a date" required>
            </div>
        
    </div>
        <div  id="add-delete">
            <button type="submit" class="add">
                    <i class="fas fa-plus"></i>ADD TASK
            </button>
            <button type="reset" class="delete" >
                    <a><i class="fas fa-trash-alt"></i>Delete</a>
            </button>
        </div>
    </form>
       
     <div class="tasks">
         <ul>
            
             <% for(let i of list){  %>
                <div class="task">
                    <input type="checkbox" class="strike" id="<%= i._id %>">
                    <span>
                        <button class="type"><%= i.category %></button>
                        <div id="description"><%= i.description %></div>
                        <div id="date"><i class="far fa-calendar-alt"></i><%= i.date %></div>
                        
                    </span>
                </div>
            <% } %>
            
         </ul>
     </div>

    </div>
<!-- javascript -->
    <script type="text/javascript" src="/js/home.js"></script>
    </body>

</html>